//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #0473ba; // primary color
$success: #28c76f; // success color
$info: #00cfe8; // info color
$warning: #ff9f43; // warning color
$danger: #ea5455; // danger color
$main: #ffc105; // main brand color
$secondary: #000c38; // secondary brand color
